<h3 class="designName"><%= link_to design.name, design_path(design) %></h3>
<p class="designStyle">Style: <%= design.style %></p>
<p class="designFashion">Fashion: <%= design.fashion %></p>
<p class="designDesigner">Designer: <%= link_to design.designer.name, designer_path(design) %></p>


<!-- <p>
  This design is going to be demonstrated
  at "<%= link_to design.fashion_show.title, fashion_show_path(design.fashion_show) %>"
  in <%= design.fashion_show.location %>
</p>

<p><%= link_to "Designer's profile", designer_path(design.designer) %></p>
<p><%= link_to "Please enter your comment", new_design_comment_path(design) %></p>
<p><%= link_to "Read all comments to this design", design_comments_path(design) %></p> -->
