<h2>Please enter a new design</h2>
<h4>to be presented at "<%= @fashion_show.title %>" in <%= @fashion_show.location %></h4>

<%= render partial: 'layouts/error_messages', locals: { instance: @design } %>

<%= form_for @design, url: fashion_show_designs_path(@fashion_show) do |f| %>
  <%= f.hidden_field :designer_id, value: current_user.id %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br><br>
  <%= f.label :style %>:
  <%= f.text_field :style %><br><br>
  <%= f.label :fashion %>:
  <%= f.text_field :fashion %><br><br>
  <%= f.submit %>
<% end  %>
