<%= render partial: 'layouts/error_messages', locals: { instance: @design } %>

<h2>Please enter a new design</h2>

<% if @fashion_show %>
  <h4>to be presented at "<%= @fashion_show.title %>" in <%= @fashion_show.location %></h4>
<% end %>


<% if @fashion_show %>
  <%= form_for @design, url: fashion_show_designs_path(@fashion_show) do |f| %>
    <%= f.hidden_field :designer_id, value: current_user.id %>
    <%= f.hidden_field :fashion_show_id, value: @fashion_show.id %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :style %>
    <%= f.text_field :style %><br><br>
    <%= f.label :fashion %>
    <%= f.text_field :fashion %><br><br>
    <%= f.submit class: 'submit' %>
  <% end %>
<% end  %>

<% if @designer %>
  <%= form_for @design, url: designer_designs_path(@designer), class: "designer-form" do |f| %>
    <%= f.hidden_field :designer_id, value: current_user.id %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :style %>
    <%= f.text_field :style %><br><br>
    <%= f.label :fashion %>
    <%= f.text_field :fashion %><br><br>
    <%= content_tag(:p, "Please select a fashion show where you want to demonstrate your new design:") %>
    <%= collection_select(:design, :fashion_show_id, FashionShow.all, :id, :title) %><br><br><br>
    <%= f.submit class: 'submit' %>
  <% end %>
<% end  %>

<div>
  <h3 id="designName"></h3>
  <p id="designStyle"></p>
  <p id="designFashion"></p>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  $('form').submit(function(event) {
    event.preventDefault();
    var values = $(this).serialize();
    $.ajax({
      method: "POST",
      url: '/designs',
      data: values,
      dataType: "JSON"
    }).done(function(data){
      $("#designName").text(data.name);
      $("#designStyle").text(`Style: ${data.style}`);
      $("#designFashion").text(`Fashion: ${data.fashion}`);
      $(".submit").prop('disabled', false);
      $("form").trigger("reset");
    }).fail(function(xhr, status, error) {
      console.log(error);
    })
  })
})
</script>
