<%= form_for @comment, url: design_comments_path(@design) do |f| %>
<%= f.hidden_field :designer_id, value: current_user.id %>
<%= f.text_area :content %><br><br>
<button class="submit" id="<%= @comment.id %>" data-id="<%= @comment.id %>" data-design="<%= @design.id %>">Create comment</button>
<!-- <%= f.submit class: "submit" %> -->
<% end %>

<br>
<%= link_to "Back to the design view", design_path(@design) %>
